* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: #000;
}

a {
	color: inherit;
	text-decoration: none;
}

.content {
	max-width: 1080px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: center;
}

.article {
	width: auto;
	column-count: 3;
	column-gap: 10px;
}

.header {
	margin: 0 auto;
	padding: 20px;
	display: flex;
	align-items: center;
	max-width: 1080px;
}

.header__logo {
	color: #e60023;
}

.header__navbar {
	margin-left: auto;
	display: flex;
}

.navbar__menu {
	display: flex;
	gap: 16px;
}

.navbar__menu a {
	padding: 6px;
}

.navbar__menu a:hover {
	color: #e60023;
}

/* Список блогов */
.article__blog-preview {
	position: relative;
	display: inline-block;
	margin: 0 0 10px;
	width: 100%;
	border: none;
	background: none;
	cursor: pointer;
}

.article__blog-preview:hover .blog-preview__img {
	filter: brightness(60%);
}

.blog-preview__likes {
	position: absolute;
	display: none;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	z-index: 2;
	color: #ddd;
	font-size: 24px;
}

.likes__svg {
	width: 35px;
}

.article__blog-preview:hover .blog-preview__likes {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.blog-preview__img {
	width: 100%;
	height: auto;
	border-radius: 20px;
}

/* Прелоадер */
.preloader {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.preloader__title {
	font-size: 30px;
	font-weight: 500;
}

.preloader__icon {
	width: 80px;
}
